<div class="merchandise-item">
    <div class="row">
        <div class="col-sm-6">
            <div class="btn-flex">
                <div class="img-container">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/51UNCiQbEUL._SX258_BO1,204,203,200_.jpg" />
                </div>
                <div class="">
                    <div class="text-bold text-uppercase">ROOM ON THE BROOM</div>
                    <div class="small">by Junia Donaldson</div>
                    <div class="small">Paperback</div>
                    <div class="display-on-desktop">
                        <p>
                            <span class="reward_point_circle">43</span>
                            <span class="small">Reward points</span>
                        </p>
                        <div class="text-bold"><i class="fa fa-check"></i> Eligible for Free delivery*</div>
                        <p>Standard delivery 2-5 days</p>
                    </div>
                    <div class="display-on-mobile">
                        <p>
                            <input name="quantity" class="form-control item-quantity text-space" value="1" type="number" min="1"/>
                            <a class="link-style " href="">remove</a>
                        </p>
                        <div>
                            <span class="color-accent text-bold euro text-space">25.99</span>
                            <span class="text-linethrough small">RRP<span class="euro">35.99</span></span>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
        <div class="col-sm-2">
            <div class="display-on-desktop text-center">
                <input name="quantity" class="form-control item-quantity" type="number" value="1" min="1"/>
                <p class="quantity-col__remove text-underline"><a class="link-style" href="">remove</a></p>
                <div class="btn save-for-later"><i class="fa fa-heart color-accent"></i> Save for later</div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="display-on-desktop text-center">
                <p class="text-linethrough small">RRP <span class="euro">35.99</span></p>
                <p class="text-bold euro">25.99</p>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="display-on-desktop text-center">
                <p class="text-bold euro">25.99</p>
            </div>
        </div>
        <div w3-include-html="./Components/errorMessage.html"></div>
    </div>
    <div class="addition-info">
        <div class="text-bold">Buy One Get One Half Price</div>
        <div class="small">This item is part of a muti buy offer promotion. More text explaining the promotion and a link to shop all items in the same promotion.</div>
    </div>
</div>