<p class="bastket-page__top_notice">You have 3 items in your Basket</p>
<p class="bastket-mobile-page__top_notice">Your order is eligible for FREE for delivery to ROI & DK</p>

<div class="bastket-page__list-item">
    <div class="header-bar display-on-desktop">
        <div class="row">
            <div class="col-sm-6"><div class="header-title">Item</div>
            </div>
            <div class="col-sm-2"><div class="header-title text-center">Quantity</div>
            </div>
            <div class="col-sm-2"><div class="header-title text-center">Item Price</div>
            </div>
            <div class="col-sm-2"><div class="header-title text-center">Total Price</div>
            </div>
        </div>
    </div>
    <div class="abc">
        <div w3-include-html="./Components/basketPageEachItem.html" w3-include-loop="6"></div>
    </div>

</div>