<div class="bastket-page__order-summary">
    <div class="order_summary_header"><p class="order_summary_header__text">ORDER SUMMARY</p></div>
    <div class="order_summary_inner">
    <div class="block order_summary_inner__delivery_store">
        <div class="line row">
            <div class="col-xs-1">
                <input type="checkbox" name="click-and-collect" id="click-and-collect" checked="checked">
            </div>
            <div class="col-xs-10">
                <label for="click-and-collect">CLICK AND COLLECT</label>
                <div class="small text-bold">Blanchardstown </div>
                <div class="store-container summary_input">
                    <form>
                        <div class="engage-select">
                            <select class="form-control"> 
                                <option value="" disabled selected>Find a store</option>
                                <option>Store 1</option> 
                                <option>Store 2</option> 
                                <option>Store 3</option> 
                                <option>Store 4</option> 
                                <option>Store 5</option> 
                            </select>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        <div class="line row">
            <div class="col-xs-1">
                <input type="checkbox" name="home-delivery" id="home-delivery"> 
            </div>
            <div class="col-xs-10">
                <label for="home-delivery">HOME DELIVERY</label>
                <div class="small">Delivered in 2-5 working days </div>
            </div>
        </div>
        
    </div>
    <div class="block order_summary_inner__promo_code">
        <div class="title"> Do you have a PROMO CODE? </div>
        <span class="fa fa-angle-down"></span>
    </div>
    <div class="block order_summary_inner__total">
        <div class="line small">
            <span>Discount</span>
            <span class="euro pull-right">5.00</span>
        </div>
        <div class="line small">
            <span class="">Delivery</span>
            <span class="euro pull-right">0.00</span>
        </div>
        <hr>
        <div class="line subtotal">
            <span>SUBTOTAL</span>
            <span class="euro pull-right">46.99</span>
        </div>
        <hr>
        <div class="line clear small">
            <span class="pull-right">Reward points 
                <span class="euro">
                    200
                </span>
            </span>
        </div>
        <div class="line">
            <div class="btn btn-block btn-secure-checkout">
                Begin secure checkout
            </div>
        </div>
        <div class="line text-center">OR</div>
        <div class="line">                                
            <div class="btn btn-block btn-checkout-paypal">
                Checkout with
            </div>
        </div>
    </div>
    </div>
</div>