<div id="basket-dropdown" class="hidden">
    <div class="item-container">
        <div class="item">
            <div class="item-image" style="background-image:url('https://images-na.ssl-images-amazon.com/images/I/51UNCiQbEUL._SX258_BO1,204,203,200_.jpg')">
            </div>
            <div class="item-info">
                <div class="item-header">
                    <div class="item-name" title="ROOM ON THE BROOM by Julia Donaldson">
                        <span class="book__name small text-uppercase text-bold">ROOM ON THE BROOM</span>
                        <span class="book__author small">by Julia Donaldson</span>                    
                    </div>
                    <div class="item-price">
                        <div class="euro text-bold">25.99</div>
                        <div class="euro small text-linethrough">RRP 35.99</div>
                    </div>
                </div>
                <div>
                    <div class="small">Paperback</div>
                    <div>
                        <input name="quantity" class="form-control item-quantity" type="number" value="1" min="1">
                        <a href=""><span class="text-underline">remove</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="item-image" style="background-image:url('https://images-na.ssl-images-amazon.com/images/I/51UNCiQbEUL._SX258_BO1,204,203,200_.jpg')">
            </div>
            <div class="item-info">
                <div class="item-header">
                    <div class="item-name" title="ROOM ON THE BROOM by Julia Donaldson">
                        <span class="book__name small text-uppercase text-bold">ROOM ON THE BROOM</span>
                        <span class="book__author small">by Julia Donaldson</span>                    
                    </div>
                    <div class="item-price">
                        <div class="euro text-bold">25.99</div>
                        <div class="euro small text-linethrough">RRP 35.99</div>
                    </div>
                </div>
                <div>
                    <div class="book__type">Paperback</div>
                    <div>
                        <input name="quantity" class="form-control item-quantity" type="number" value="1" min="1">                   
                        <a href=""><span class="text-underline">remove</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="total-container">
        <div class="small">
            Subtotal (2 items)
            <span class="subtotal euro">46.99</span>
        </div>
        <div class="btn-bar">
            <div class="btn btn-view-basket">
                View basket
            </div>
            <div class="btn btn-secure-checkout">
                Check out
            </div>
        </div>
        <div class="text-uppercase text-center quote">
            Free delivery* free return
        </div>
    </div>
</div>