
<p class="large-text">Delivery To</p>
<p><a href="#" class="link-style small text-underline">Change</a> / <a href="#" class="link-style small text-underline">Add a new Address</a></p>
<p>
    <p class="remove-margin">Name Surname</p>
    <p class="remove-margin">Address Line 1</p>
    <p class="remove-margin">Address Line 2</p>
    <p class="remove-margin">Address Line 3</p>
    <p class="remove-margin">Country</p>
    <p class="remove-margin">Phone: 012345678</p>
</p>
<div class="clear row">
    <div class="col-xs-12 col-sm-6 col-lg-4 nopadding">
        <div class="col-xs-12 clear infor-block noppading">
            <div class="col-xs-12 infor-block__address">
                <p>
                    <i class="fa fa-star" aria-hidden="true"></i>
                </p>
                <p>Dang Viet Hung</p>
                <p>170, De La Thanh, Dong Da, Ha Noi</p>
                <p>12345</p>
                <p>Ha Noi</p>
                <p>1000000</p>
                <p>01634132893</p>
            </div>
            <button class="col-xs-12 infor-block__btn" onClick="">EDIT</button>
            <button class="col-xs-12 infor-block__btn" onClick="">REMOVE</button>
        </div>
    </div>
        <div class="col-xs-12 col-sm-6 col-lg-4 nopadding">
        <div class="col-xs-12 clear infor-block noppading">
            <div class="col-xs-12 infor-block__address">
                <p>
                    <i class="fa fa-star" aria-hidden="true"></i>
                </p>
                <p>Dang Viet Hung</p>
                <p>170, De La Thanh, Dong Da, Ha Noi</p>
                <p>12345</p>
                <p>Ha Noi</p>
                <p>1000000</p>
                <p>01634132893</p>
            </div>
            <button class="col-xs-12 infor-block__btn" onClick="">EDIT</button>
            <button class="col-xs-12 infor-block__btn" onClick="">REMOVE</button>
        </div>
    </div>
        <div class="col-xs-12 col-sm-6 col-lg-4 nopadding">
        <div class="col-xs-12 clear infor-block noppading">
            <div class="col-xs-12 infor-block__address">
                <p>
                    <i class="fa fa-star" aria-hidden="true"></i>
                </p>
                <p>Dang Viet Hung</p>
                <p>170, De La Thanh, Dong Da, Ha Noi</p>
                <p>12345</p>
                <p>Ha Noi</p>
                <p>1000000</p>
                <p>01634132893</p>
            </div>
            <button class="col-xs-12 infor-block__btn" onClick="">EDIT</button>
            <button class="col-xs-12 infor-block__btn" onClick="">REMOVE</button>
        </div>
    </div>
        <div class="col-xs-12 col-sm-6 col-lg-4 nopadding">
        <div class="col-xs-12 clear infor-block noppading">
            <div class="col-xs-12 infor-block__address">
                <p>
                    <i class="fa fa-star" aria-hidden="true"></i>
                </p>
                <p>Dang Viet Hung</p>
                <p>170, De La Thanh, Dong Da, Ha Noi</p>
                <p>12345</p>
                <p>Ha Noi</p>
                <p>1000000</p>
                <p>01634132893</p>
            </div>
            <button class="col-xs-12 infor-block__btn" onClick="">EDIT</button>
            <button class="col-xs-12 infor-block__btn" onClick="">REMOVE</button>
        </div>
    </div>
        <div class="col-xs-12 col-sm-6 col-lg-4 nopadding">
        <div class="col-xs-12 clear infor-block noppading">
            <div class="col-xs-12 infor-block__address">
                <p>
                    <i class="fa fa-star" aria-hidden="true"></i>
                </p>
                <p>Dang Viet Hung</p>
                <p>170, De La Thanh, Dong Da, Ha Noi</p>
                <p>12345</p>
                <p>Ha Noi</p>
                <p>1000000</p>
                <p>01634132893</p>
            </div>
            <button class="col-xs-12 infor-block__btn" onClick="">EDIT</button>
            <button class="col-xs-12 infor-block__btn" onClick="">REMOVE</button>
        </div>
    </div>
        <div class="col-xs-12 col-sm-6 col-lg-4 nopadding">
        <div class="col-xs-12 clear infor-block noppading">
            <div class="col-xs-12 infor-block__address">
                <p>
                    <i class="fa fa-star" aria-hidden="true"></i>
                </p>
                <p>Dang Viet Hung</p>
                <p>170, De La Thanh, Dong Da, Ha Noi</p>
                <p>12345</p>
                <p>Ha Noi</p>
                <p>1000000</p>
                <p>01634132893</p>
            </div>
            <button class="col-xs-12 infor-block__btn" onClick="">EDIT</button>
            <button class="col-xs-12 infor-block__btn" onClick="">REMOVE</button>
        </div>
    </div>
    
</div>

<p class="large-text margin-top-20">Delivery Options?</p>
<form class="delivery-submit-form clear nopadding col-sm-6">
    <div w3-include-html="./Components/deliveryDataInput.html"></div>
</form>