<div class="order-summary">
    <div class="order-summary__header content-inner">
        <span class="order-summary__header__title">ORDER SUMMARY</span><br/>
        <p class="remove-margin">
            <span>2 Items</span>
            <span class="euro pull-right"><strong>25.99</strong></span>
        </p>
    </div>
    <div class="content-inner">
        <!--item-->
        <div class="order-summary__item">
            <span classs="normal-text"><strong>ROOM ON THE BROOM</span></strong><span class="euro display-on-mobile pull-right"><strong>25.99</strong></span><br/>
            <span>by Julia Donaldson</span><br/>
            <span>Paperback</span><br/>
            <span>x1</span><br/>
            <p class="order-summary__item__total_price remove-margin display-on-desktop">
                <span class="text-linethrough small"><span>RRP</span> <span class="euro">35.99</span></span>
                <span class="euro strong"><strong>25.99</strong></span>
            </p>
        </div>
        <hr class="hr-style">
        <!--item-->
        <div class="order-summary__item">
            <span classs="normal-text"><strong>ROOM ON THE BROOM</strong></span><span class="euro display-on-mobile pull-right"><strong>25.99</strong></span><br/>
            <span>by Julia Donaldson</span><br/>
            <span>Paperback</span><br/>
            <span>x1</span><br/>
            <p class="order-summary__item__total_price remove-margin display-on-desktop">
                <span class="text-linethrough small"><span>RRP</span> <span class="euro">35.99</span></span>
                <span class="euro strong"><strong>25.99</strong></span>
            </p>
        </div>
        <!--end of items-->
        <hr class="hr-style">
        <div class="small">
            <span>Discount</span><span class="pull-right euro">5.00</span><br/>
            <span>Sub-total</span><span class="pull-right euro">5.00</span><br/>
            <span>Delivery</span><span class="pull-right"><strong>FREE</strong></span><br/>
            <span>VAT</span><span class="pull-right euro">5.00</span><br/>
        </div>
        <hr class="hr-style">
        <span class="large-text">TOTAL</span><span class="euro pull-right total-number-accent">46.99</span><br/>
        <span class="small">Reward points</span><span class="pull-right small"><strong>200</strong></span>
    </div>
</div>