<!--content here-->
<div id="checkout-confirmation">
    <div class="line">
        <span class="customer-id pull-right"><strong class="bold">CUSTOMER ID:</strong> 12345678</span>
        <span class="order-infor-text">Order confirmation</span>
    </div>
    <p class="line">
        Thank you for shopping at Eason & Son Ltd your <strong>ORDER NUMBER is 12345678</strong>
    </p>
    <p>
        Please check the details below are correct - If anything needs to be updated please <a class="link-style" href="#">contact us</a> as soon as possible.
    </p>
    <div class="checkout-infor-detail textOnMobile clear margin-top-20 margin-bottom-20">
        <div class="col-sm-5 col-xs-12 margin-bottom-10">
            <p class="remove-margin"><strong>DELIVERY ADDRESS</strong></p>
            <p class="remove-margin">Name Surname</p>
            <p class="remove-margin">Address line 1</p>
            <p class="remove-margin">Address line 2</p>
            <p class="remove-margin">Address line 3</p>
            <p class="remove-margin">Country</p>
            <p class="remove-margin">T: 012345678</p>    
        </div>
        <div class="col-sm-7 col-xs-12 margin-bottom-10">
            <p class="remove-margin"><strong>DELIVERY TYPE</strong></p>
            <p class="remove-margin">Standard Delivery.</p>
            <p class="remove-margin">You will receive you order in 2-5 workings days</p>
            <p class="remove-margin">Please note that at peak times delivery can take longer than usual. Multiple item orders may arrive in more </p>

        </div>
        <div class="col-xs-12 margin-bottom-10">
            <p class="remove-margin"><strong>NOTIFICATION</strong></p>
            <p class="remove-margin">name@email.com</p> 
        </div>

        <div class="col-sm-5 col-xs-12 margin-bottom-10">
            <p class="remove-margin"><strong>BILLING ADDRESS</strong></p>
            <p class="remove-margin">Name Surname</p>
            <p class="remove-margin">Address line 1</p>
            <p class="remove-margin">Address line 2</p>
            <p class="remove-margin">Address line 3</p>
            <p class="remove-margin">Dublin</p>
            <p class="remove-margin">Ireland</p> 
        </div>
        <div class="col-sm-7 col-xs-12">
            <p class="remove-margin"><strong>PAYMENT DETAILS</strong></p>
            <div class="row remove-margin">
                <div class="col-xs-5 nopadding">Order Date:</div>
                <div class="col-xs-7 nopadding">9/21/2017 10:50:30 AM</div>
            </div>
            <div class="row remove-margin">
                <div class="col-xs-5 nopadding">Payment Method:</div>
                <div class="col-xs-7 nopadding">Credit Card</div>
            </div>
            <div class="row remove-margin">
                <div class="col-xs-5 nopadding">Curentcy:</div>
                <div class="col-xs-7 nopadding">EUR</div>
            </div>
            <div class="row remove-margin">
                <div class="col-xs-5 nopadding">Order Date:</div>
                <div class="col-xs-7 nopadding">9/21/2017 10:50:30 AM</div>
            </div>
            <div class="row remove-margin">
                <div class="col-xs-5 nopadding">Name on Card:</div>
                <div class="col-xs-7 nopadding">Name Surname</div>
            </div>            
            <div class="row remove-margin">
                <div class="col-xs-5 nopadding">Card Number:</div>
                <div class="col-xs-7 nopadding">****</div>
            </div>
        </div>
    </div>
    <div class="clear">
        <table class="table-width total-table textOnMobile margin-top-20 margin-bottom-20">
            <tr class="total-table__row">
                <th>ITEM</th>
                <th class="text-align-center">QUANTITY</th>
                <th class="text-align-center display-on-desktop">PRICE</th>
                <th class="text-align-center">ESTIMATED DELIVERY DATE</th>
                <th class="text-align-center">TOTAL PRICE</th>
            </tr>
            <!--row number 1-->
            <tr class="total-table__row">
                <td class="text-align-left">
                    <p class="remove-margin">ROOM ON THE BROOM</p>
                    <p class="remove-margin">By Julia Donaldson</p>
                </td>
                <td valign="top">1</td>
                <td valign="top" class="display-on-desktop"><p class="euro">25.99</p></td>
                <td valign="top">01/01/2017</td>
                <td valign="top"><p class="euro">25.99</p></td>
            </tr>
            <!--row number 2-->
            <tr class="total-table__row">
                <td class="text-align-left">
                    <p class="remove-margin">ROOM ON THE BROOM</p>
                    <p class="remove-margin">By Julia Donaldson</p>
                </td>
                <td valign="top">1</td>
                <td valign="top" class="display-on-desktop"><p class="euro">25.99</p></td>
                <td valign="top">01/01/2017</td>
                <td valign="top"><p class="euro">25.99</p></td>
            </tr> 
            <!--end rows-->
        </table>
    </div>
    <div class="clear margin-top-20 margin-bottom-20">
        <table class="table-discount-and-total col-sm-5 col-xs-12 clear">
            <col width="50%">
            <col width="50%">
            <tr>
                <td class="text-align-left">
                    Sub-total (incl VAT)
                </td>
                <td  class="text-align-right">
                    <span class="euro">5.00</span>
                </td>
            </tr>
            <tr>
                <td class="text-align-left">
                    Discount
                </td>
                <td class="text-align-right">
                    <span class="euro">2.5</span>
                </td>
            </tr>
            <tr>
                <td class="text-align-left">
                    Delivery
                </td>
                <td  class="text-align-right">
                    <strong>FREE<strong>
                </td>
            </tr>
            <tr class="total-price-row">
                <td class="large-text"><strong>TOTAL</strong></td>
                <td class="large-text text-align-right total-number"><strong><span class="euro">46.99</span></strong></td>
            </tr>
        </table>
    </div>
    <p class="large-text"><strong>See your details</strong> <span>- Add a password to create secure account</span></p>
    <p>
        For an efficient and personalised shopping experience the next time you visit Eason.com we can securely save your details. 
        We will only contact you relating to your order, unless you choose to hear more from us.  
    </p>
    <p class="strong"><strong>name-name@hotmail.com</strong></p>
    <div class="col-sm-5 col-xs-12 nopadding">
        <form>
            <input class="checkout-input col-xs-12 margin-top-15" type="text" placeholder="password"/>
            <input class="checkout-input col-xs-12 margin-top-15" type="text" placeholder="repeat password"/>
            <button class="btn btn-default confirm-button-pw margin-bottom-15 margin-top-15 col-xs-6">Save</button>
        </form>
    </div>
</div>
