<header class="checkout">
	<div class="base pt-2">
	    <div id="sb-site">
	    	<div class="pull-left">
				<img src="/Styles/images/logo-easons.png" alt="" >
			</div>
			<div class="payment">
	            <img src="/styles/images/img-payment-options.png">
			</div>
		</div>
	</div>
</header>
<div class="base pt-2">
    <div id="sb-site">
		<div class="checkout-header">
		    <h1>
		        SECURE CHECKOUT
		        <div class="payment">
		            <img src="/styles/images/img-payment-options.png">
		        </div>
		    </h1>
		</div>
	</div>
</div>
