
<ul class="tab-panel">
    <li class="active">Welcome</li>
    <li class="active">Delivery Options</li>
    <li class="active">Payment Information</li>
    <li>Confirmation</li>
</ul>

<div id="payment-tab" class="col-sm-7 col-xs-12 nopadding">
    <h3 class="between-content">Choose a payment method</h3>
    <a class="btn btn-payment-paypal between-content link-style" href=""> Check out</a>
    <h4 class="between-content">Credit Card / Debit Card</h4>
    <form>
        <div class="form-group form-group-input">
            <div class="nopaddingleft col-xs-4">
                <span>CARD TYPE</span>
            </div>
            <div class="col-xs-8 nopadding">
                <div class="engage-select checkout-input">
                    <select class="form-control-card-type"> 
                        <option value="" disabled selected></option>
                        <option>Card 1</option> 
                        <option>Card 2</option> 
                        <option>Card 3</option> 
                        <option>Card 4</option> 
                        <option>Card 5</option> 
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group form-group-input">
            <div class="col-xs-4 nopaddingleft">
                <span>CARD NUMBER</span>
            </div>
            <div class="col-xs-8 nopadding">
                <input class="checkout-input" type="text"/>
            </div>
        </div>
        <div class="form-group form-group-input">
            <div class="col-xs-4 nopaddingleft">
                <span>NAME ON CARD</span>
            </div>
            <div class="col-xs-8 nopadding">
                <input class="checkout-input" type="text"/>
            </div>
        </div>
        <div class="form-group form-group-input">
            <div class="col-sm-4 col-xs-2 nopaddingleft">
                <span>EXPIRE DATE</span>
            </div>
            <div class="col-sm-8 col-xs-10 nopadding">
                <div class="col-xs-6 form-group-input nopadding">
                    <div class="col-sm-6 col-xs-7">
                        <span class="small">*MONTH</span>
                    </div>
                    <input type="number" min="1" class="checkout-input col-sm-6 col-xs-5 show-spin-button" value="1"/>
                </div>
                <div class="col-xs-6 form-group-input nopadding">
                    <div class="col-xs-5">
                        <span class="small">*YEAR</span>
                    </div>
                    <div class="col-xs-7 nopadding"><input type="number" min="1" class="checkout-input show-spin-button padding-left-10 padding-right-10" value="1900"/></div>
                </div>
            </div>
        </div>
        <div class="form-group form-group-input">
            <div class="col-xs-4 nopaddingleft">
                <span>SECURITY CODE</span>
            </div>
            <div class="col-xs-8 nopadding">
                <input class="checkout-input" type="text"/>
            </div>
        </div>
        <div class="form-group">
            <input type="checkbox" id="same-card" class="checkbox-input cursor-pointer"/>
            <label for="same-card" class="text-normal checkbox-label cursor-pointer">Same card for future transations</label>
        </div>
        <p class="large-text">Billing Address</p>
        <div class="form-group checkbox-with-content"> 
            <input type="checkbox" id="same-delivery" class="checkbox-input cursor-pointer"/>
            <label for="same-delivery" class="text-normal checkbox-label cursor-pointer">Same as delivery address</label>
            
            <div id="form-checkout-payment-input" class="hidden-content">
            <div w3-include-html="./Components/informationInput.html"></div>
            </div>
        </div>
        <p>Name, Surname, Address Line 1, Address Line 2, Address Line 3, Country</p>

        <!--add card number-->
        <div w3-include-html="./Components/eVoucher_loyaltyCard.html"></div>
        <button class="btn btn-checkout btn-checkout-info pull-right col-sm-6 col-xs-6">Process Payment</button>
    </form>
</div>