
<input id="standard-delivery" type="radio" name="delivery" value="" class="col-xs-1 cursor-pointer"/>
<label for="standard-delivery" class="col-xs-11 nopadding">
    <div class="col-xs-11">
        <span>Standard delivery</span> 
        <p class="text-normal">FREE. An Post 2-5 days.</p> 
    </div>
    <div class="col-xs-1 nopadding">
        <span class="pull-right">FREE</span>
    </div>
</label>

<input id="next-day-delivery" type="radio" name="delivery" value="" class="col-xs-1 cursor-pointer"/>
<label for="next-day-delivery" class="col-xs-11 nopadding">
    <div class="col-xs-11">
        <span>Next Day Delivery</span>
        <p class="text-normal">Order before 5.30pm (Dunday to Friday).</p> 
    </div>
    <div class="col-xs-1 nopadding">
        <span class="pull-right">0.00</span>
    </div>
</label>

<input id="post-myparcel-pickup" type="radio" name="delivery" value="" class="col-xs-1 cursor-pointer"/>
<label for="post-myparcel-pickup" class="col-xs-11 nopadding">
    <div class="col-xs-11">
        <span>An Post MYPARCEL Pickup</span>
    </div>
    <div class="col-xs-1 nopadding">
        <span class="pull-right">00.00</span>
    </div>
</label>