<div class="panel-group collapse-add-card clear">
    <div class="panel panel-default no-border no-border-radius no-box-shadow ">
        <form>
            <div class="panel-heading no-border no-border-radius">
                <h4 class="panel-title" data-toggle="hidden" data-target-id="#eVoucher">
                    eVoucher                        
                </h4>
            </div>
            
            <div id="eVoucher" class="hidden row panel-collapse collapse ">
                <div class="col-xs-12 small">Enter your eVoucher code below</div>
                <div class="form-group clear">                    
                    <div class="col-xs-8"><input type="text"/></div>
                    <div class="col-xs-4 small"><button class="btn btn-checkout btn-checkout-info text-uppercase">Apply</button></div>
                </div>
                <div class="col-xs-12 text-bold">
                    <div>Applied:</div>
                    <div>234987 <a href="" class="text-underline">remove</a></div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="panel-group collapse-add-card clear">
    <div class="panel panel-default no-border no-border-radius no-box-shadow ">
        <form>
            <div class="panel-heading no-border no-border-radius">
                <h4 class="panel-title" data-toggle="hidden" data-target-id="#loyaltyCard">
                    Loyalty Card
                </h4>
            </div>
            <div id="loyaltyCard" class="hidden row panel-collapse collapse">
                <div class="col-xs-12 small">Enter your loyalty card number below</div>
                <div class="form-group clear">
                    <div class="col-xs-8"><input type="text"/></div>
                    <div class="col-xs-4 small"><button class="btn btn-checkout btn-checkout-info text-uppercase">Apply</button></div>
                </div>
            </div>
        </form>
    </div>
</div>