    <footer class="main">
        <div class="base">
            <div class="footer-contentarea">
                <div class="row clearfix">
                    <div class="block footerlinkitemblock quarter span-3">
                        <a href="http://www.easons.com/t-shipping.aspx">
                            <div class="dtable">
                                <div class="dcell icon"><img src="/styles/images/icon-delivery.png" alt="FREE DELIVERY"></div>
                                <div class="dcell"><h6 class="text-uppercase">FREE DELIVERY</h6> </div>
                            </div>
                        </a>
                    </div><div class="block footerlinkitemblock quarter span-3">
                        <a href="http://www.easons.com/c-484-loyalty-card.aspx">
                            <div class="dtable">
                                <div class="dcell icon"><img src="/styles/images/icon-loyalty.png" alt="LOYALTY CARD"></div>
                                <div class="dcell"><h6 class="text-uppercase">LOYALTY CARD</h6> </div>
                            </div>
                        </a>
                    </div><div class="block footerlinkitemblock quarter span-3">
                        <a href="http://www.easons.com/eason_store_locator.aspx">
                            <div class="dtable">
                                <div class="dcell icon"><img src="/styles/images/icon-store.png" alt="STORE LOCATOR"></div>
                                <div class="dcell"><h6 class="text-uppercase">STORE LOCATOR</h6> </div>
                            </div>
                        </a>
                    </div><div class="block footerlinkitemblock quarter span-3">
                        <a href="http://www.easons.com/c-481-evouchers.aspx">
                            <div class="dtable">
                                <div class="dcell icon"><img src="/styles/images/icon-gift.png" alt="GIFT CARDS"></div>
                                <div class="dcell"><h6 class="text-uppercase">GIFT CARDS</h6> </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="newsetter-signup">
                <div class="dtable">
                    <div class="dcell logo">
                        <img src="/styles/images/logo-easons.png" alt="">
                    </div>
                    <div class="dcell heading text-uppercase">
                        <h3>Newsletter Signup</h3>
                    </div>
                    <div class="dcell signup emailTextbox">
                        <div class="mail-control">
                            <input name="Easonsubscribetextbox" id="Easonsubscribetextbox" class="newfooter-email" placeholder="type email here" type="text">
                            <input name="EasonsubscribeEmail" value="Subscribe" id="EasonsubscribeEmail" type="submit">
                        </div>
                        <div class="errorMsg" style="display:none;">
                            <span id="ctl00_ctl00_EasonFooter1_EasonsubscribeEmarsys1_lblerror" style="color: Red"></span><a name="error">&nbsp;</a>
                        </div>
                    </div>
                </div>



            </div>

            <div class="link-list">
                <div class="row clearfix">
                    <div class="col-3">
                        <h6 class="color-primary text-uppercase mb-1">
                            SERVICES
                        </h6>
                        <ul>
                            <li>
                                <a href="http://www.easonhelpcentre.com/knowledgebase/how-much-does-delivery-cost/" title="Shipping &amp; Delivery">Shipping &amp; Delivery</a>
                            </li>
                            <li>
                                <a href="http://backofficec003.easons.local/SalesOrders" title="Order Tracking">Order Tracking</a>
                            </li>
                            <li>
                                <a href="https://www.easons.com/t-returns.aspx" title="Returns &amp; Refunds">Returns &amp; Refunds</a>
                            </li>
                            <li>
                                <a href="http://www.easons.com/" title="Click &amp; Collect">Click &amp; Collect</a>
                            </li>
                            <li>
                                <a href="https://www.easons.com/personalised-card.aspx" title="Eason Personalise">Eason Personalise</a>
                            </li>
                            <li>
                                <a href="http://www.easons.com/c-481-evouchers.aspx" title="Gift Vouchers">Gift Vouchers</a>
                            </li>
                            <li>
                                <a href="http://www.easons.com/p-4391365-weee-recycling.aspx" title="WEE Recycling">WEEE Recycling</a>
                            </li>

                        </ul>
                    </div>
                    <div class="col-3">
                        <h6 class="color-primary text-uppercase mb-1">
                            HELP CENTRE
                        </h6>
                        <ul>
                            <li>
                                <a href="http://www.easonhelpcentre.com/contact-us/" title="Contact Us">Contact Us</a>
                            </li>
                            <li>
                                <a href="http://www.easonhelpcentre.com/" title="Help Centre">Help Centre</a>
                            </li>
                            <li>
                                <a href="http://www.easonhelpcentre.com/faqs/" title="FAQS">FAQs</a>
                            </li>
                            <li>
                                <a href="https://www.easons.com/eason_store_locator.aspx" title="Store Locator">Store Locator</a>
                            </li>
                            <li>
                                <a href="http://www.easonhelpcentre.com/ereaders-ebooks/" title="eBooks &amp; eReaders Help">eBooks &amp; eReaders Help</a>
                            </li>
                            <li>
                                <a href="http://www.easonhelpcentre.com/ereaders-ebooks/" title="My Account">My Account</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-3">
                        <h6 class="color-primary text-uppercase mb-1">
                            ABOUT US
                        </h6>
                        <ul>
                            <li>
                                <a href="https://www.easons.com/t-about.aspx" title="About Us">About Us</a>
                            </li>
                            <li>
                                <a href="http://www.easons.com/c-484-loyalty-card.aspx" title="Loyalty Cards">Loyalty Cards</a>
                            </li>
                            <li>
                                <a href="http://www.easons.com/" title="Careers">Careers</a>
                            </li>
                            <li>
                                <a href="https://www.easons.com/t-privacy.aspx" title="Privacy Poicy">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="https://www.easons.com/t-termsandconditions.aspx" title="Terms &amp; Conditions">Terms &amp; Conditions</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-3">
                        <h6 class="color-primary text-uppercase mb-1">
                            EASON EXTRAS
                        </h6>
                        <ul>
                            <li>
                                <a href="https://www.easonedition.com/" title="Eason Edition">Eason Edition</a>
                            </li>
                            <li>
                                <a href="https://www.easonedition.com/" title="Eason Blog ">Eason Blog</a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/user/EasonsIreland?app=desktop" title="Eason Tv">Eason Tv</a>
                            </li>
                            <li>
                                <a href="http://www.easons.com/" title="Book News">Book News</a>
                            </li>
                            <li>
                                <a href="https://www.easons.com/t-bookclub.aspx" title="Book Club">Book Club</a>
                            </li>
                            <li>
                                <a href="http://www.easons.com/" title="Schoolbooks">Schoolbooks</a>
                            </li>
                            <li>
                                <a href="http://www.easonedition.com/category/spelling-bee/" title="Speling Bee">Spelling Bee</a>
                            </li>
                            <li>
                                <a href="http://www.easonedition.com/category/competitions/" title="Competitons">Competitons</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="link-list link-list--accordion">
                <div class="clearfix">

                    <h6 class="color-primary text-uppercase mb-1">
                        SERVICES
                        <i class="fa fa-angle-down"></i>
                    </h6>
                    <ul>
                        <li>
                            <a href="http://www.easonhelpcentre.com/knowledgebase/how-much-does-delivery-cost/" title="Shipping &amp; Delivery">Shipping &amp; Delivery</a>
                        </li>
                        <li>
                            <a href="http://backofficec003.easons.local/SalesOrders" title="Order Tracking">Order Tracking</a>
                        </li>
                        <li>
                            <a href="https://www.easons.com/t-returns.aspx" title="Returns &amp; Refunds">Returns &amp; Refunds</a>
                        </li>
                        <li>
                            <a href="http://www.easons.com/" title="Click &amp; Collect">Click &amp; Collect</a>
                        </li>
                        <li>
                            <a href="https://www.easons.com/personalised-card.aspx" title="Eason Personalise">Eason Personalise</a>
                        </li>
                        <li>
                            <a href="http://www.easons.com/c-481-evouchers.aspx" title="Gift Vouchers">Gift Vouchers</a>
                        </li>
                        <li>
                            <a href="http://www.easons.com/p-4391365-weee-recycling.aspx" title="WEE Recycling">WEEE Recycling</a>
                        </li>

                    </ul>

                    <h6 class="color-primary text-uppercase mb-1">
                        HELP CENTRE
                        <i class="fa fa-angle-down"></i>
                    </h6>
                    <ul>
                        <li>
                            <a href="http://www.easonhelpcentre.com/contact-us/" title="Contact Us">Contact Us</a>
                        </li>
                        <li>
                            <a href="http://www.easonhelpcentre.com/" title="Help Centre">Help Centre</a>
                        </li>
                        <li>
                            <a href="http://www.easonhelpcentre.com/faqs/" title="FAQS">FAQs</a>
                        </li>
                        <li>
                            <a href="https://www.easons.com/eason_store_locator.aspx" title="Store Locator">Store Locator</a>
                        </li>
                        <li>
                            <a href="http://www.easonhelpcentre.com/ereaders-ebooks/" title="eBooks &amp; eReaders Help">eBooks &amp; eReaders Help</a>
                        </li>
                        <li>
                            <a href="http://www.easonhelpcentre.com/ereaders-ebooks/" title="My Account">My Account</a>
                        </li>
                    </ul>

                    <h6 class="color-primary text-uppercase mb-1">
                        ABOUT US
                        <i class="fa fa-angle-down"></i>
                    </h6>
                    <ul>
                        <li>
                            <a href="https://www.easons.com/t-about.aspx" title="About Us">About Us</a>
                        </li>
                        <li>
                            <a href="http://www.easons.com/c-484-loyalty-card.aspx" title="Loyalty Cards">Loyalty Cards</a>
                        </li>
                        <li>
                            <a href="http://www.easons.com/" title="Careers">Careers</a>
                        </li>
                        <li>
                            <a href="https://www.easons.com/t-privacy.aspx" title="Privacy Poicy">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="https://www.easons.com/t-termsandconditions.aspx" title="Terms &amp; Conditions">Terms &amp; Conditions</a>
                        </li>
                    </ul>

                    <h6 class="color-primary text-uppercase mb-1">
                        EASON EXTRAS
                        <i class="fa fa-angle-down"></i>
                    </h6>
                    <ul>
                        <li>
                            <a href="https://www.easonedition.com/" title="Eason Edition">Eason Edition</a>
                        </li>
                        <li>
                            <a href="https://www.easonedition.com/" title="Eason Blog ">Eason Blog</a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/user/EasonsIreland?app=desktop" title="Eason Tv">Eason Tv</a>
                        </li>
                        <li>
                            <a href="http://www.easons.com/" title="Book News">Book News</a>
                        </li>
                        <li>
                            <a href="https://www.easons.com/t-bookclub.aspx" title="Book Club">Book Club</a>
                        </li>
                        <li>
                            <a href="http://www.easons.com/" title="Schoolbooks">Schoolbooks</a>
                        </li>
                        <li>
                            <a href="http://www.easonedition.com/category/spelling-bee/" title="Speling Bee">Spelling Bee</a>
                        </li>
                        <li>
                            <a href="http://www.easonedition.com/category/competitions/" title="Competitons">Competitons</a>
                        </li>
                    </ul>

                </div>
            </div>




            <div class="payment-options text-center">
                <img src="/styles/images/img-payment-options.png">
            </div>
            <div class="social-icons text-center">
                <a href="https://www.facebook.com/EasonsIreland">
                    <img src="/Styles/Images/img-temp.png" alt="">
                </a>
                <a href="https://twitter.com/easons">
                    <img src="/Styles/Images/img-temp.png" alt="">
                </a>
                <a href="https://www.youtube.com/user/EasonsIreland">
                    <img src="/Styles/Images/img-temp.png" alt="">
                </a>
                <a href="https://www.easonedition.com/">
                    <img src="/Styles/Images/img-temp.png" alt="">
                </a>
                <a href="https://www.easonedition.com/events/">
                    <img src="/Styles/Images/img-temp.png" alt="">
                </a>
            </div>
        </div>
        <div class="copyright background-lgrey">
            <div class="base text-center pt-1 pb-1">
                Copyright © 2017 Eason and Son Ltd.
            </div>
        </div>
    </footer>