<div class="form-group">
    <p class="remove-margin">*FIRST NAME</p>
    <input type="text" class="checkout-input"/>
</div>
<div class="form-group">
    <p class="remove-margin">*LAST NAME</p>
    <input type="text" class="checkout-input"/>
</div>
<div class="form-group">
    <p class="remove-margin">*ADDRESS LINE 1</p>
    <input type="text" class="checkout-input"/>    
</div>
<div class="form-group">
    <p class="remove-margin">*ADDRESS LINE 2</p>
    <input type="text" class="checkout-input"/> 
</div>
<div class="form-group">
    <p class="remove-margin">*CITY / TOWN</p>
    <input type="text" class="checkout-input"/> 
</div>
<div class="form-group">
    <p class="padingtex remove-margin">COUNTY</p>
    <input type="text" class="checkout-input"/>
</div>
<div class="form-group">
    <p class="remove-margin">*COUNTY</p>
    <input type="text" class="checkout-input"/>
</div>
<div class="form-group">
    <p class="padingtex remove-margin">POSTCODE / ZIP CODE</p>
    <input type="text" class="checkout-input"/>
</div>
<div class="form-group">
    <p class="remove-margin">*TELEPHONE</p>
    <input type="text" class="checkout-input"/>
</div>