<div class="suggest-items">
	<div class="suggest-items-inner">		
		<img src="https://images-na.ssl-images-amazon.com/images/I/51UNCiQbEUL._SX258_BO1,204,203,200_.jpg" data-random-image>
		<div class="content">
			<div class="text-bold">Harry Potter and the philosophers stone</div>
			<div class="description"><span class="text-bold"> Harry Potter </span> live in a cupboard under the stairs at hit Aunt and Uncles house  in Number 4 Privet Drive. Until he went to Hogwarts ... </div>
			<div>
				<span class="color-accent">Paperback</span>
				<span class="euro pull-right small">14.24</span>
			</div>
		</div>
	</div>
</div>
