<div class="auto-suggestion">
	<div class="suggest-results">
		<p><span class="text-bold">Harry Potter</span></p>
		<p><span class="text-bold">Harry Potter</span> and the philosophers stone</p>
		<p><span class="text-bold">Harry Potter</span> and the cursed child</p>
	</div>
	<div w3-include-html="./Components/search/autoSuggestionItem.html"></div>
	<div w3-include-html="./Components/search/autoSuggestionItem.html"></div>
	<div w3-include-html="./Components/search/autoSuggestionItem.html"></div>
</div>