<p class="text-bold">
    &nbsp;<span class="close-button btn-close-menu" data-toggle="slide" data-target-id="#search-facet"> </span>
</p>
<div class="category-filter-item">
    <div class="clear search-page__facet-item margin-bottom-15 margin-left-5">
        <input type="checkbox" id="stock-only" class="checkboxInput" />
        <span class="search-page__facet-item-link">                       
            <a class="common-link--secondary ">
                <label for="stock-only" class="cursor-pointer vertical-align-top common-text--secondary text-normal">show in stock only</label>
            </a>
        </span>
    </div>
</div>
<div class="category-filter-item">
    <p>YOU'RE LOOKING AT:</p>
    <div class="category-item-choosed cursor-pointer clear" data-close>
        <div class="choosed-item pull-left"><span class="choosed-item-text">$15 - $25</span></div>
        <div class="btn-close pull-right"><span class="pull-right close-button"></span></div>
    </div>
    <div class="category-item-choosed cursor-pointer clear" data-close>
        <div class="choosed-item pull-left"><span class="choosed-item-text">$15 - $25</span></div>
        <div class="btn-close pull-right"><span class="pull-right close-button"></span></div>
    </div>
</div>
<div class="category-filter-item">
    <div class="panel-group collapse-content clear margin-bottom-15">
        <div class="panel no-border no-border-radius no-box-shadow clear">
            <div class="panel-heading no-border no-border-radius clear nopadding">
                <span class="panel-title active" data-toggle="hidden" data-target-id="#bookformat">BOOK FORMAT</span>
            </div>
            <div id="bookformat" class="margin-top-10 margin-left-5">
                <div class="form-group search-page__facet-item">
                    <input type="checkbox" id="audio-book" class="checkboxInput" />
                    <span class="search-page__facet-item-link">
                        <a class="common-link--secondary ">
                            <label for="audio-book" class="common-text--secondary cursor-pointer vertical-align-top text-normal">audio book (10)</label>
                        </a>
                    </span>
                </div>
                <div class="form-group search-page__facet-item clear">
                    <input type="checkbox" id="board-book" class="checkboxInput" />
                    <span class="search-page__facet-item-link">                       
                        <a class="common-link--secondary ">
                            <label for="board-book" class="common-text--secondary cursor-pointer vertical-align-top text-normal">board book (10)</label>
                        </a>
                    </span>
                </div>
                <div class="form-group search-page__facet-item clear">
                    <input type="checkbox" id="book-toy" class="checkboxInput" />
                    <span class="search-page__facet-item-link">                       
                        <a class="common-link--secondary ">
                            <label for="book-toy" class="cursor-pointer vertical-align-top common-text--secondary text-normal">book & toy (10)</label>
                        </a>
                    </span>
                </div>
                <div class="form-group search-page__facet-item clear">
                    <input type="checkbox" id="ebook" class="checkboxInput" />
                    <span class="search-page__facet-item-link">                       
                        <a class="common-link--secondary ">
                            <label for="ebook" class="cursor-pointer vertical-align-top common-text--secondary text-normal">ebook (10)</label>
                        </a>
                    </span>
                </div>
                <div class="form-group search-page__facet-item clear">
                    <input type="checkbox" id="hardcover" class="checkboxInput" />
                    <span class="search-page__facet-item-link">                       
                        <a class="common-link--secondary ">
                            <label for="hardcover" class="cursor-pointer vertical-align-top common-text--secondary text-normal">hardcover (10)</label>
                        </a>
                    </span>
                </div>
                <div class="form-group search-page__facet-item clear">
                    <input type="checkbox" id="mass-market-paper-bound" class="checkboxInput" />
                    <span class="search-page__facet-item-link">                       
                        <a class="common-link--secondary ">
                            <label for="mass-market-paper-bound" class="cursor-pointer vertical-align-top common-text--secondary text-normal">mass market paper bound (10)</label>
                        </a>
                    </span>           
                </div>
                <div class="form-group search-page__facet-item clear">
                    <input type="checkbox" id="picture-book" class="checkboxInput" />
                    <span class="search-page__facet-item-link">                       
                        <a class="common-link--secondary ">
                            <label for="picture-book" class="cursor-pointer vertical-align-top common-text--secondary text-normal">picture book (10)</label>
                        </a>
                    </span>              
                </div>
                <div class="form-group search-page__facet-item clear">
                    <input type="checkbox" id="trade-paperback" class="checkboxInput" />
                    <span class="search-page__facet-item-link">                       
                        <a class="common-link--secondary ">
                            <label for="trade-paperback" class="cursor-pointer vertical-align-top common-text--secondary text-normal">trade paperback (10)</label>
                         </a>
                    </span>  
                </div>
            </div>
        </div>
    </div>
</div>
<div class="category-filter-item">
    <div class="panel-group collapse-content clear margin-bottom-15">
        <div class="panel no-border no-border-radius no-box-shadow clear">
            <div class="panel-heading no-border no-border-radius clear nopadding">
                <span class="panel-title active" data-toggle="hidden" data-target-id="#department">
                    DEPARTMENT
                </span>
            </div>
            <div id="department" class="margin-top-10 margin-left-5">
                <div class="form-group clear">
                    <a href="#"><span>baby (10)</span></a>
                </div>
                <div class="form-group clear">
                    <a href="#"><span>books (10)</span></a>
                </div>
                <div class="form-group clear">
                    <a href="#"><span>ereading (10)</span></a>
                </div>
                <div class="form-group clear">
                    <a href="#"><span>kids (10)</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="category-filter-item">
    <div class="panel-group collapse-content clear margin-bottom-15">
        <div class="panel no-border no-border-radius no-box-shadow clear">
            <div class="panel-heading no-border no-border-radius clear nopadding">
                <span class="panel-title active" data-toggle="hidden" data-target-id="#categories">
                    CATEGORIES
                </span>
            </div>
            <div id="categories" class="margin-top-10 margin-left-5">
                <div class="form-group clear">
                    <a href="#"><span>entertainment (10)</span></a>
                </div>
                <div class="form-group clear">
                    <a href="#"><span>family and relationships (10)</span></a>
                </div>
                <div class="form-group clear">
                    <a href="#"><span>fiction and literature (10)</span></a>
                </div>
                <div class="form-group clear">
                    <a href="#"><span>reference and language (10)</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="category-filter-item">
    <div class="panel-group collapse-content clear margin-bottom-15">
        <div class="panel no-border no-border-radius no-box-shadow clear">
            <div class="panel-heading no-border no-border-radius clear nopadding">
                <span class="panel-title" data-toggle="hidden" data-target-id="#sub_categories">
                    SUB CATEGORIES
                </span>
            </div>
            <div id="sub_categories" class="hidden margin-top-10 margin-left-5">
                <div class="form-group clear">
                    <span>example (10)</span>
                </div>
                <div class="form-group clear">
                    <span>example (10)</span>
                </div>
                <div class="form-group clear">
                    <span>example (10)</span>
                </div>
                <div class="form-group clear">
                    <span>example (10)</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="category-filter-item">
    <div class="panel-group collapse-content clear margin-bottom-15">
        <div class="panel no-border no-border-radius no-box-shadow clear">
            <div class="panel-heading no-border no-border-radius clear nopadding">
                <span class="panel-title" data-toggle="hidden" data-target-id="#section">
                    SECTION
                </span>
            </div>
            <div id="section" class="hidden margin-top-10 margin-left-5">
                <div class="form-group clear">
                    <span>books (10)</span>
                </div>
                <div class="form-group clear">
                    <span>ebooks (10)</span>
                </div>
                <div class="form-group clear">
                    <span>books (10)</span>
                </div>
                <div class="form-group clear">
                    <span>ereading (10)</span>
                </div>
                <div class="form-group clear">
                    <span>kids (10)</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="category-filter-item">
    <div class="panel-group collapse-content clear margin-bottom-15">
        <div class="panel no-border no-border-radius no-box-shadow clear">
            <div class="panel-heading no-border no-border-radius clear nopadding">
                <span class="panel-title" data-toggle="hidden" data-target-id="#new_releases">
                    NEW RELEASES
                </span>
            </div>
            <div id="new_releases" class="hidden margin-top-10 margin-left-5">
                <div class="form-group clear">
                    <span>coming soon</span>
                </div>
                <div class="form-group clear">
                    <span>new releases</span>
                </div>
                <div class="form-group clear">
                    <span>new this month (10)</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="category-filter-item">
    <div class="panel-group collapse-content clear margin-bottom-15">
        <div class="panel no-border no-border-radius no-box-shadow clear">
            <div class="panel-heading no-border no-border-radius clear nopadding">
                <span class="panel-title" data-toggle="hidden" data-target-id="#language">
                    LANGUAGE
                </span>
            </div>
            <div id="language" class="hidden margin-top-10 margin-left-5">
                <div class="form-group clear">
                    <span>english (10)</span>
                </div>
                <div class="form-group clear">
                    <span>french (100)</span>
                </div>
                <div class="form-group clear">
                    <span>german (100)</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="category-filter-item">
    <div class="panel-group collapse-content clear margin-bottom-15">
        <div class="panel no-border no-border-radius no-box-shadow clear">
            <div class="panel-heading no-border no-border-radius clear nopadding">
                <span class="panel-title" data-toggle="hidden" data-target-id="#age_range">
                    AGE RANGE
                </span>
            </div>
            <div id="age_range" class="hidden margin-top-10 margin-left-5">
                <div class="form-group search-page__facet-item clear">
                    <input type="checkbox" id="under-four-years" class="checkboxInput" />
                    <span class="search-page__facet-item-link">                       
                        <a class="common-link--secondary ">
                            <label for="under-four-years" class="cursor-pointer vertical-align-top common-text--secondary text-normal">0-4 years (10)</label>
                        </a>
                    </span>
                </div>
                <div class="form-group search-page__facet-item clear">
                    <input type="checkbox" id="five-to-eight-years" class="checkboxInput" />
                    <span class="search-page__facet-item-link">                       
                        <a class="common-link--secondary ">
                            <label for="five-to-eight-years" class="cursor-pointer vertical-align-top common-text--secondary text-normal">5-8 years (10)</label>
                        </a>
                    </span>
                </div>
                <div class="form-group search-page__facet-item clear">
                    <input type="checkbox" id="nine-to-twelve-years" class="checkboxInput" />
                    <span class="search-page__facet-item-link">                       
                        <a class="common-link--secondary ">
                            <label for="nine-to-twelve-years" class="cursor-pointer vertical-align-top common-text--secondary text-normal">9-12 years (10)</label>
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="category-filter-item">
    <div class="panel-group collapse-content clear margin-bottom-15">
        <div class="panel no-border no-border-radius no-box-shadow clear">
            <div class="panel-heading no-border no-border-radius clear nopadding">
                <span class="panel-title" data-toggle="hidden" data-target-id="#price_range">
                    PRICE RANGE
                </span>
            </div>
            <div id="price_range" class="hidden margin-top-10 margin-left-5">
                <div class="form-group search-page__facet-item clear">
                    <input type="checkbox" id="under-five-euro" class="checkboxInput" />
                    <span class="search-page__facet-item-link">                       
                        <a class="common-link--secondary ">
                            <label for="under-five-euro" class="cursor-pointer vertical-align-top common-text--secondary text-normal">under <span>5</span> (10)</label>
                        </a>
                    </span>
                        </div>
                <div class="form-group search-page__facet-item clear">
                    <input type="checkbox" id="five-to-ten-euro" class="checkboxInput" />
                    <span class="search-page__facet-item-link">                       
                        <a class="common-link--secondary ">
                            <label for="five-to-ten-euro" class="cursor-pointer vertical-align-top common-text--secondary text-normal">5 - 10 (10)</label>
                        </a>
                    </span>
                </div>
                <div class="form-group search-page__facet-item clear">
                    <input type="checkbox" id="ten-to-fifteen-euro" class="checkboxInput" />
                    <span class="search-page__facet-item-link">                       
                        <a class="common-link--secondary ">
                            <label for="ten-to-fifteen-euro" class="cursor-pointer vertical-align-top common-text--secondary text-normal">10 - 15 (10)</label>
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>