<div class="clear search-filter-top row">
    <div class="col-xs-12 col-sm-4">
        <p class="padding-top-5"> 1 - 25 of 587 Results </p>
    </div>
    <div class="col-xs-12 col-sm-8">
        <div class="filter-controller clear">
            <div class="btn-inline-block col-xs-5 filter-check display-on-mobile">
                <div class="engage-select select-most-popular display-on-mobile" data-toggle="slide" data-target-id="#search-facet">
                    Filter result
                </div>
            </div>
            <div class="btn-inline-block col-xs-5 col-sm-9 filter-select">
                <div class="dropdown pull-right">
                    <div id="sorting_condition" class="clear">
                        <span id="sorting_text" class="pull-left">Top Matches</span>
                        <span class="caret controller"></span>
                    </div>
                    <div class="bgr-transparent"></div>
                    <input type="hidden" name="search_param" value="all">
                    <ul class="dropdown-menu">
                        <li class="option_select" data-value="popularity">Popularity</li>
                        <li class="option_select" data-value="title_az">Title a-z</li>
                        <li class="option_select" data-value="title_za">Title z-a</li>
                        <li class="option_select" data-value="avaiablity">Avaiablity</li>
                        <li class="option_select" data-value="price_low_height">Price Low-height</li>
                        <li class="option_select" data-value="price_height_low">Price Height-low</li>
                        <li class="option_select" data-value="newest_arrival">Newest Arrival</li>
                    </ul>
                </div>
            </div>
            <div class="grid-selector-container col-sx-2 col-sm-3 btn-inline-block margin-top-10 pull-right">
                <input type="checkbox" class="grid-selector" id="grid-selector">
                <label for="grid-selector" class="grid fa fa-th-large strong" aria-hidden="true"></label>
                <span class="seperator"></span>
                <label for="grid-selector" class="list fa fa-th-list strong" aria-hidden="true"></label>
            </div>
        </div>
    </div>
</div>