<div class="clear margin-top-30">
    <div class="pagination-page larg-text line font-weight-bold pull-right">
        <div class="page-number"><span><</span></div>
        <div class="page-number"><span>1</span></div>
        <div class="page-number active"><span>2</span></div>
        <div class="page-number"><span>3</span></div>
        <div class="page-number"><span>4</span></div>
        <div class="page-number"><span>5</span></div>
        <div class="page-number"><span>6</span></div>
        <div class="page-number"><span>></span></div>
    </div>
</div>
<div class="load-more-items"><span>LOAD MORE RESULTS</span></div>